.pointer {
    cursor: pointer;
}

.flechasOrden {
    position: absolute;
    top: 12px;
    margin-left: 5px;
}

.tabla-scroll {
  tbody {
    display: block;
  }

  thead {
    background: #f8f9fa;
    position: sticky;
    top: 0;
    background: #f8f9fa;
    z-index: 1;
  }

  tbody {
    // max-height: 300px; /* ajusta según tu diseño */
    // overflow-y: auto;
  }

  thead tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
}

.ventas-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 245px);
}

.table-container {
    flex: 1;
    overflow-y: auto;
}