<div class="d-flex animated fadeIn faster bg-light p-3">
    <button [ngClass]="botonSeleccionado == 1 ? 'btn-primary' : 'btn-outline-secondary'" class="btn py-2 px-3 mr-3" (click)="navegarProductos(1)"><i class="fa fa-plus-square" aria-hidden="true"></i> Nuevo</button>
    <button [ngClass]="botonSeleccionado == 2 ? 'btn-primary' : 'btn-outline-secondary'" class="btn py-2 px-3 mr-3" (click)="emitirEvento(2)"><i class="fa fa-edit" aria-hidden="true"></i> Modificar</button>
    <button [ngClass]="botonSeleccionado == 3 ? 'btn-primary' : 'btn-outline-secondary'" class="btn py-2 px-3 mr-3" (click)="navegarProductos(3)"><i class="fa fa-minus-square" aria-hidden="true"></i> Eliminar</button>
    <div style="border-right: solid 1px gainsboro;" class="mr-3"></div>
    <button [ngClass]="botonSeleccionado == 4 ? 'btn-primary' : 'btn-outline-secondary'" class="btn py-2 px-3 mr-3" (click)="navegarProductos(4)"><i class="fa fa-cubes" aria-hidden="true"></i> Departamentos</button>
    <button [ngClass]="botonSeleccionado == 5 ? 'btn-primary' : 'btn-outline-secondary'" class="btn py-2 px-3 mr-3" (click)="emitirEvento(5)"><i class="fa fa-calendar" aria-hidden="true"></i> Ventas por periodo</button>
  </div>
  <hr>