<div class="productos-navbar-container animated fadeIn faster">
  <div class="botones-grupo">
    <button 
      class="btn-navbar" 
      [ngClass]="{'btn-activo': botonSeleccionado == 1}"
      (click)="navegarProductos(1)">
      <i class="fa fa-plus-square icono"></i>
      <span class="texto">Nuevo</span>
    </button>
    
    <button 
      class="btn-navbar" 
      [ngClass]="{'btn-activo': botonSeleccionado == 2}"
      (click)="emitirEvento(2)">
      <i class="fa fa-edit icono"></i>
      <span class="texto">Modificar</span>
    </button>
    
    <button 
      class="btn-navbar btn-eliminar-nav" 
      [ngClass]="{'btn-activo': botonSeleccionado == 3}"
      (click)="navegarProductos(3)">
      <i class="fa fa-minus-square icono"></i>
      <span class="texto">Eliminar</span>
    </button>
    
    <div class="separador-vertical"></div>
    
    <button 
      class="btn-navbar" 
      [ngClass]="{'btn-activo': botonSeleccionado == 4}"
      (click)="navegarProductos(4)">
      <i class="fa fa-cubes icono"></i>
      <span class="texto">Departamentos</span>
    </button>
    
    <button 
      class="btn-navbar" 
      [ngClass]="{'btn-activo': botonSeleccionado == 5}"
      (click)="navegarProductos(5)">
      <i class="fa fa-calendar icono"></i>
      <span class="texto">Ventas por periodo</span>
    </button>
  </div>
</div>