<div class="d-flex justify-content-between p-4 bg-info">
    <h1 class="text-light">Abarrotes Ramírez</h1>
    <button class="btn btn-warning" (click)="salir()">Salir <i class="fa fa-sign-out" aria-hidden="true"></i></button>
  </div>
  <ul class="d-flex bg-secondary text-center">
    <li class="nav-item flex-fill">
      <a class="nav-link py-3" routerLinkActive="active" routerLink="/ventas"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Ventas</a>
    </li>
    <li class="nav-item flex-fill">
      <a class="nav-link py-3 disabled" routerLinkActive="active" routerLink="/clientes"><i class="fa fa-users" aria-hidden="true"></i> Clientes</a>
    </li>
    <li class="nav-item flex-fill">
      <a class="nav-link py-3" routerLinkActive="active" routerLink="/productos"><i class="fa fa-list-alt" aria-hidden="true"></i> Productos</a>
    </li>
    <li class="nav-item flex-fill">
      <a class="nav-link py-3 disabled" routerLinkActive="active" routerLink="/inventario"><i class="fa fa-archive" aria-hidden="true"></i> Inventario</a>
    </li>
    <li class="nav-item flex-fill">
      <a class="nav-link py-3 disabled" routerLinkActive="active" routerLink="/configuracion"><i class="fa fa-cog" aria-hidden="true"></i> Configuración</a>
    </li>
    <li class="nav-item flex-fill">
      <a class="nav-link py-3 disabled" routerLinkActive="active" routerLink="/facturas"><i class="fa fa-file-text-o" aria-hidden="true"></i> Facturas</a>
    </li>
    <li class="nav-item flex-fill">
      <a class="nav-link py-3 disabled" routerLinkActive="active" routerLink="/corte"><i class="fa fa-calculator" aria-hidden="true"></i> Corte</a>
    </li>
    <li class="nav-item flex-fill">
      <a class="nav-link py-3 disabled" routerLinkActive="active" routerLink="/reportes"><i class="fa fa-bar-chart" aria-hidden="true"></i> Reportes</a>
    </li>
  </ul>