.btn-square {
    border-radius: 0;
}

.active {
    background-color: #f8f9fa;
    /* background-color: red; */
}

ul {
    margin-bottom: 0;
    li a {
        font-size: 16px;
        margin: 1px;
    }
}