<div class="cobrar-container">
    <div class="cobrar-header">
        <i class="fa fa-shopping-cart"></i>
        <h3>
            Cobrar <strong>{{cantidadArticulos}}</strong> {{cantidadArticulos > 1 ? 'artículos' : 'artículo'}}
        </h3>
    </div>
    <div class="totalVentaPesos">
        {{ventaTotalPesos | currency: '$'}}
    </div>
    <form [formGroup]="formularioPago">
        <div class="col-sm-12 mt-3">
            <div class="row">
                <div class="col-sm-12 p-2">
                    <h5 class="seccion-titulo"><i class="fa fa-credit-card"></i> Forma de pago:</h5>
                </div>
                <div class="col-sm-4 p-2 tab-cobrar" [ngClass]="formaPago == 1 ? 'activa' : ''" (click)="cambiarFormaPago(1)">
                    <i class="fa fa-money"></i> Efectivo
                </div>
                <div class="col-sm-4 p-2 tab-cobrar" [ngClass]="formaPago == 2 ? 'activa' : ''" (click)="cambiarFormaPago(2)">
                    <i class="fa fa-user"></i> Crédito (fiado)
                </div>
                <div class="col-sm-4 p-2 tab-cobrar" [ngClass]="formaPago == 3 ? 'activa' : ''" (click)="cambiarFormaPago(3)">
                    <i class="fa fa-asterisk"></i> Mixto
                </div>
            </div>
        </div>
        <div class="col-sm-12 mt-3" *ngIf="formaPago == 1">
            <!-- <input class="form-control input-pago-con" type="number" placeholder="$" value=ventaTotalPesos> -->
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Pagó con: $</span>
                </div>
                <input  type="number" 
                        class="form-control"
                        formControlName="pagoCon" 
                        name="pagoCon"
                        (keyup) = "calcularCambio($event)"
                        aria-describedby="basic-addon1"
                        id="pagoCon">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">Su cambio: $</span>
                </div>
                <input type="text" class="form-control" disabled aria-describedby="basic-addon2" value={{cambio}}>
            </div>
        </div>
        <div class="col-sm-12" *ngIf="formaPago == 2">
            <div class="row">
                <div class="col-sm-12 mb-3">
                    <h6><i class="fa fa-user-circle"></i> Seleccionar Cliente</h6>
                    
                    <!-- Cliente seleccionado -->
                    <div *ngIf="clienteSeleccionado" class="cliente-seleccionado">
                        <div class="cliente-info">
                            <div class="cliente-nombre">
                                <i class="fa fa-user"></i>
                                <strong>{{ clienteSeleccionado.nombre }}</strong>
                            </div>
                            <div class="cliente-detalles">
                                <span class="detalle-item">
                                    <i class="fa fa-credit-card"></i>
                                    Saldo actual: <strong>${{ clienteSeleccionado.saldoActual.toFixed(2) }}</strong>
                                </span>
                                <span class="detalle-item">
                                    <i class="fa fa-money"></i>
                                    Nuevo saldo: <strong>${{ (clienteSeleccionado.saldoActual + ventaTotalPesos).toFixed(2) }}</strong>
                                </span>
                                <span class="detalle-item" *ngIf="clienteSeleccionado.limiteCredito && clienteSeleccionado.limiteCredito > 0">
                                    <i class="fa fa-flag"></i>
                                    Límite: <strong>${{ clienteSeleccionado.limiteCredito.toFixed(2) }}</strong>
                                </span>
                            </div>
                        </div>
                        <button class="btn-remover-cliente" (click)="removerClienteSeleccionado()" type="button">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>

                    <!-- Búsqueda de cliente -->
                    <div *ngIf="!clienteSeleccionado" class="busqueda-cliente">
                        <div class="input-group mb-2">
                            <input 
                                type="text" 
                                class="form-control" 
                                placeholder="Buscar cliente por nombre o número..."
                                [(ngModel)]="textoBusquedaCliente"
                                [ngModelOptions]="{standalone: true}"
                                (keyup.enter)="buscarClientes()">
                            <div class="input-group-append">
                                <button 
                                    class="btn btn-primary" 
                                    type="button"
                                    (click)="buscarClientes()"
                                    [disabled]="buscandoClientes">
                                    <i class="fa" [ngClass]="buscandoClientes ? 'fa-spinner fa-spin' : 'fa-search'"></i>
                                    Buscar
                                </button>
                            </div>
                        </div>

                        <!-- Resultados de búsqueda -->
                        <div class="resultados-busqueda" *ngIf="clientesEncontrados.length > 0">
                            <div class="resultado-item" 
                                 *ngFor="let cliente of clientesEncontrados"
                                 (click)="seleccionarCliente(cliente)">
                                <div class="resultado-nombre">
                                    <i class="fa fa-user"></i>
                                    {{ cliente.nombre }}
                                </div>
                                <div class="resultado-info">
                                    <span>Saldo: ${{ cliente.saldoActual.toFixed(2) }}</span>
                                    <span *ngIf="cliente.limiteCredito && cliente.limiteCredito > 0">
                                        Límite: ${{ cliente.limiteCredito.toFixed(2) }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12" *ngIf="formaPago == 3">
            <div class="row">
                <div class="col-sm-12 area-pago">
                    <p><i class="fa fa-info-circle"></i> Funcionalidad de pago mixto pendiente de implementación</p>
                </div>
            </div>
        </div>
    </form>
    <div class="col-sm-12 mt-4 mb-2">
        <button class="btn-cobrar btn-confirmar" (click) = "cobrarEImprimirTicket()" [disabled]=!activarBotonAceptar>
            <i class="fa fa-print"></i>
            <span>F1 - Cobrar e imprimir ticket</span>
        </button>
        <button class="btn-cobrar btn-cancelar" (click)="cerrarModalCobro()">
            <i class="fa fa-times"></i>
            <span>ESC - Cancelar</span>
        </button>
    </div>
    <div class="finalizando-venta" *ngIf="finalizandoVenta">
        <i class="fa fa-spinner fa-pulse"></i>
        Finalizando venta...
    </div>
</div>
