<div class="w-50 p-3 animated fadeIn faster">
    <h4>Departamentos</h4> 
    <span class="text-muted">
        <i>Escribe abajo para buscar por nombre. Si no encuentras el que buscas puedes crear uno nuevo en el botón <i class="fa fa-plus-circle"></i></i> Agregar.
    </span> <br><br>
    <div class="input-group mb-3">
        <input (keyup) = "filtrarDepartamentos($event)" type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar..." aria-describedby="button-addon2" #nombreDepartamento>
        <div class="input-group-append">
            <button class="btn" [ngClass]="departamentosTemp.length > 0 ? 'btn-outline-secondary' : 'btn-primary'" type="button" id="button-addon2" (click)="agregarNuevoDepartamento(nombreDepartamento.value)" [disabled]="departamentosTemp.length>0">
                <i class="fa fa-plus-circle"></i> Agregar
            </button>
        </div>
    </div>
    <br>
    <span class="text-muted">
        <i>Toca el nombre de un departamento para editarlo o la equis ( <i class="fa fa-times-circle"></i> ) para eliminarlo.</i>
    </span>
    <div class="d-flex justify-content-center border-top-0 p-3 p-sm-10 bg-light">
        <div class="chip-set animated fadeIn faster">
            <div class="chip" *ngFor="let departamento of departamentosTemp; let i = index">
                {{ departamento.nombre }}
                <i class="fa fa-times-circle"></i>
            </div>
            <div *ngIf="departamentosTemp.length==0" class="text-muted">
                <i>No hay resultados</i>
            </div>
        </div>
    </div>
</div>