.functionKeys {
    // padding: 3px 5px;
    // margin-right: 5px;
    // border-radius: 5px;
    // border: solid 1px;
    padding: 3px 5px;
    margin-right: 5px;
    border-radius: 5px;
    border: solid 1px;
    box-shadow: inset 0 0 4px #333333;
    border-color: #fff;
    background-color: #a09f9f;
    color: #fff;
    font-weight: 700;
}

.totalVentaPesos {
    background-color: rgb(220, 239, 255);
    font-size: 55px;
    color: blue;
    overflow: hidden;
}