.functionKeys {
    padding: 3px 5px;
    margin-right: 5px;
    border-radius: 5px;
    border: solid 1px;
}

.totalVentaPesos {
    background-color: rgb(220, 239, 255);
    font-size: 55px;
    color: blue;
    overflow: hidden;
}