<!-- FOOTER DE VENTAS -->
<div class="ventas-footer-container">
  
  <!-- Información de productos -->
  <div class="info-productos">
    <div class="icono-carrito">
      <i class="fa fa-shopping-basket"></i>
    </div>
    <div class="texto-info">
      <span class="cantidad-articulos">{{cantidadArticulos}}</span>
      <span class="label-articulos">Productos en la venta</span>
    </div>
  </div>

  <!-- Botones de acción -->
  <div class="botones-accion">
    <button 
      tabindex="-1" 
      class="btn-footer btn-cambiar" 
      [disabled]="idVentaActivaInterno == '' || ventasActuales.length <= 1 || eliminandoVenta || cambiandoDeVenta" 
      (click)="mostrarListaVentas()">
      <span class="tecla">F5</span>
      <i class="fa fa-refresh"></i>
      <span class="texto">Cambiar</span>
    </button>

    <button 
      tabindex="-1" 
      class="btn-footer btn-nueva" 
      [disabled]="eliminandoVenta || cambiandoDeVenta" 
      (click)="crearNuevaVenta()">
      <span class="tecla">F6</span>
      <i class="fa fa-plus"></i>
      <span class="texto">Nueva venta</span>
    </button>

    <button 
      tabindex="-1" 
      class="btn-footer btn-eliminar" 
      [disabled]="idVentaActivaInterno == '' || eliminandoVenta || cambiandoDeVenta" 
      (click)="eliminarVentaActiva()">
      <i *ngIf="eliminandoVenta; else iconoEliminar" class="fa fa-spinner fa-pulse"></i>
      <ng-template #iconoEliminar><i class="fa fa-trash"></i></ng-template>
      <span class="texto">Eliminar</span>
    </button>
  </div>

  <!-- Botón cobrar y total -->
  <div class="seccion-cobrar">
    <button 
      tabindex="-1" 
      class="btn-cobrar" 
      [disabled]="idVentaActivaInterno == '' || ventaTotalPesos == 0 || eliminandoVenta" 
      (click)="cobrarVenta()">
      <span class="tecla-cobrar">F12</span>
      <i class="fa fa-shopping-cart"></i>
      <span class="texto-cobrar">Cobrar</span>
    </button>

    <div class="total-venta">
      <span class="label-total">Total</span>
      <span class="monto-total">{{ventaTotalPesos | currency: '$'}}</span>
    </div>
  </div>

</div>

<!-- MODAL PARA SELECCION DE VENTA -->
<div style="display: none;"> 
    <div #modalSeleccionVenta>
        <app-seleccionar-venta></app-seleccionar-venta>    
    </div>
</div>

<!-- MODAL PARA COBRAR UNA VENTA -->
<div style="display: none;"> 
    <div #modalCobrarVenta>
      <app-cobrar-venta [ventaTotalPesos] = ventaTotalPesos [cantidadArticulos] = cantidadArticulos [idVentaActiva] = idVentaActiva [idVentaActivaInterno] = idVentaActivaInterno [productosVentaActual] = productosVentaActual (obtenerVentasActivas) = obtenerVentasActivas.emit($event)></app-cobrar-venta>    
    </div>
  </div>
