<div class="text-left busqueda-container-dialog">
    <h3>Búsqueda de artículos</h3>
    <input type="text" disabled value={{ProductoSeleccionado?ProductoSeleccionado.codigoDeBarras:ProductoSeleccionado}} id="inputProductoSeleccionado">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
      </div>
      <input type="text" (keyup) = "filtrarProductosDeLaBusqueda($event)" class="form-control" id="palabraClave" name="palabraClave" #palabraClave placeholder="Teclee las primeras letras del producto" aria-label="Username" aria-describedby="basic-addon1" autocomplete="off">
    </div>
    <div class="contenedor-tabla">
      <table class="table table-sm tabla-resultados-busqueda">
        <thead class="thead-dark">
          <tr>
            <th scope="col" style="width:40%">Descripción</th>
            <th scope="col" style="width:20%">Precio venta</th>
            <th scope="col" style="width:20%">Departamento</th>
            <th scope="col" style="width:20%">Eliminar</th>
          </tr>
        </thead>
        <tbody *ngIf="productosTemp.length > 0; else sinResultados">
          <tr *ngFor="let producto of productosTemp; let i = index" (click)="setProductoSeleccionado(producto)" [ngClass]="ProductoSeleccionado ? (ProductoSeleccionado.id == producto.id ? 'row-selected' : '') : ''">
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.precioVenta | currency: '$' }}</td>
            <td>{{ producto.departamento }}</td>
            <td class="text-center" (click)="openModalConfirmarBorrar()"><i class="fa fa-trash"></i></td>
          </tr>
        </tbody>
        <ng-template #sinResultados>
          <!-- <div class="template-sin-resultados">
            No hay resultados
          </div> -->
          <tbody>
            <tr>
              <td colspan="4" class="text-center pt-5">
                <i>No hay resultados</i>
              </td>
            </tr>
          </tbody>
        </ng-template>
      </table>
    </div>

    

    <div class="d-flex justify-content-between">
      <button class="col-sm-5 btn btn-primary" (click) = "agregarProductoALaVenta($event)" [disabled]=!activarBotonAceptar>
        <i class="fa fa-check"></i> Aceptar
      </button>
      <button (click)="cerrarBusqueda($event)" class="col-sm-5 btn btn-secondary">
        <i class="fa fa-times"></i> Cancelar
      </button>
    </div>
  </div>

<!-- Modal eliminar -->
<!-- <button type="button" class="btn btn-info btn-lg" (click)="openModalConfirmarBorrar()">Prueba boton borrar</button> -->

<div class="modal" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h4 class="modal-title">Model Title</h4>
        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
      </div> -->
      <div class="modal-body">
        <h1 class="text-warning">
          <i class="fa fa-question-circle-o"></i>
        </h1>
        <div>
          <h3>¿Desea eliminar este producto?</h3>
        </div>
        <div>
          <p>Se eliminarán permanentemente todos los registros e inventarios asociados a este producto</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="onCloseHandledConfirmarBorrar()" >Si</button>
        <button type="button" class="btn btn-default" (click)="onCancelBorrar()" >No</button>
      </div>
    </div>
  </div>
</div>
  