<div class="text-left busqueda-container-dialog animated fadeIn faster" [ngClass] = "!esVenta ? 'w-50  p-3' : ''">
    <h4 *ngIf="esVenta">Búsqueda de productos</h4>
    <h4 *ngIf="!esVenta">Eliminar productos</h4>
    <input type="text" disabled value={{ProductoSeleccionado?ProductoSeleccionado.codigoDeBarras:ProductoSeleccionado}} id="inputProductoSeleccionado">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
      </div>
      <input type="text" (keyup) = "filtrarProductosDeLaBusqueda($event)" class="form-control" id="palabraClave" name="palabraClave" #palabraClave placeholder="Teclee las primeras letras del producto" aria-label="Username" aria-describedby="basic-addon1" autocomplete="off">
    </div>
    <div class="contenedor-tabla">
      <table class="table table-sm tabla-resultados-busqueda">
        <thead class="thead-dark">
          <tr *ngIf="esVenta">
            <th scope="col" style="width:40%" class="text-center">Descripción</th>
            <th scope="col" style="width:20%" class="text-center">Precio venta</th>
            <th scope="col" style="width:20%" class="text-center">Departamento</th>
            <th scope="col" style="width:20%" class="text-center">Acciones</th>
          </tr>
          <tr *ngIf="!esVenta">
            <th scope="col" style="width:15%" class="text-center">Código</th>
            <th scope="col" style="width:30%" class="text-center">Descripción</th>
            <th scope="col" style="width:15%" class="text-center">Precio venta</th>
            <th scope="col" style="width:20%" class="text-center">Departamento</th>
            <th scope="col" style="width:20%" class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody *ngIf="productosTemp.length > 0; else sinResultados">
          <tr *ngFor="let producto of productosTemp; let i = index" (click)="setProductoSeleccionado(producto)" [ngClass]="ProductoSeleccionado ? (ProductoSeleccionado.id == producto.id ? 'row-selected' : '') : ''">
            <td *ngIf="!esVenta">{{ producto.codigoDeBarras }}</td>
            <td>{{ producto.descripcion }}</td>
            <td class="text-center">{{ producto.precioVenta | currency: '$' }}</td>
            <td class="text-center">{{ producto.departamentoNombre }}</td>
            <td class="text-center align-middle">
              <button class="btn btn-sm btn-primary btn-outline-light mr-3" (click)="editarProducto()">
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-sm btn-danger btn-outline-light" (click)="openModalConfirmarBorrar()">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <ng-template #sinResultados>
          <!-- <div class="template-sin-resultados">
            No hay resultados
          </div> -->
          <tbody>
            <tr>
              <td colspan="4" class="text-center pt-5">
                <i>No hay resultados</i>
              </td>
            </tr>
          </tbody>
        </ng-template>
      </table>
    </div>

    

    <div class="d-flex justify-content-between" *ngIf="esVenta">
      <button class="col-sm-5 btn btn-primary" (click) = "agregarProductoALaVenta()" [disabled]=!activarBotonAceptar>
        <i class="fa fa-check"></i> Aceptar
      </button>
      <button (click)="cerrarBusqueda()" class="col-sm-5 btn btn-secondary">
        <i class="fa fa-times"></i> Cancelar
      </button>
    </div>
  </div>

<!-- Modal eliminar -->
<!-- <button type="button" class="btn btn-info btn-lg" (click)="openModalConfirmarBorrar()">Prueba boton borrar</button> -->

<div class="modal" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h4 class="modal-title">Model Title</h4>
        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
      </div> -->
      <div class="modal-body">
        <h1 class="text-warning">
          <i class="fa fa-question-circle-o"></i>
        </h1>
        <div>
          <h3>¿Desea eliminar este producto?</h3>
        </div>
        <div>
          <p>Se eliminarán permanentemente todos los registros e inventarios asociados a este producto</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="onCloseHandledConfirmarBorrar()" >Si</button>
        <button type="button" class="btn btn-default" (click)="onCancelBorrar()" >No</button>
      </div>
    </div>
  </div>
</div>
  