.busqueda-container-dialog {
    max-height: 600px;
    overflow: hidden;
    .contenedor-tabla {
        height: 423px;
        overflow: auto;
        margin-bottom: 20px;
        .tabla-resultados-busqueda {
            // min-height: 600px;
            td:hover {
                cursor: pointer;
            }        
        }
    }
}

.modal
{
    background: rgba(0,0,0, .5)
}

.row-selected {
    th, td {
        background-color: #0c7bff;
        color: #fff !important;
    }
}