<h4>Cambiar venta</h4>

<input type="text" id="inputVentaActiva" #inputVentaActiva [value]="ventaSeleccionada" style="opacity: 0;">
<input type="text" id="inputVentaActivaInterno" #inputVentaActivaInterno [value]="ventaSeleccionadaInterno" style="opacity: 0;">
<div *ngIf="!cargando || duracionEnSegundos < 1; else cargandoVenta">
  <div *ngFor="let venta of ventasActuales; let i = index" class="animated fadeIn faster">
    <input (change)="seleccionarVenta(venta.id)" class="form-check-input" type="radio" name="ventasRadioSelect" [id]=venta.id [value]=venta.id [checked]="venta.id == ventaSeleccionadaInterno">

    <div class="radio-productos-venta"  [ngClass]="i % 2 === 0 ? 'even' : 'odd'">
        <label [for]=venta.id class="form-check-label w-100">
          <label class="form-check-label text-center" [for]=venta.id  style="width:100%; padding: .5rem;">
            <div class="d-flex overflow-hidden" style="text-wrap: nowrap; place-content: center; align-items: baseline;">
              <i class="fa fa-ticket" style="margin-right: 5px;"></i>  
              <span *ngIf="venta.nombre; else soloNumero">
                <strong>{{ venta.nombre }}</strong> <span style="color: #999; font-size: 0.9em;">({{ venta.idTemp }})</span>
              </span>
              <ng-template #soloNumero>{{ venta.idTemp }}</ng-template>
            </div>
          </label>
        </label>
      </div>
  </div>
</div>

<ng-template #cargandoVenta>
  <div style="padding: 10px;">
    <i class="fa fa-spinner fa-pulse"></i> Cargando venta...
  </div>
</ng-template>
